body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Arial", sans-serif; /* Cleaner font for modern look */
}

.history-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
  background-color: #f7f1e3; /* Softer background color */
  margin-top: -50px;
}

.history-page h2 {
  text-align: center;
  color: #012641;
  font-size: 32px; /* Increase the size */
  font-weight: bold; /* Make the title bolder */
  margin-bottom: 30px;
  margin-top: 80px;
  text-transform: uppercase; /* Capitalize title */
  letter-spacing: 2px; /* Add some spacing for better styling */
  flex-shrink: 0;
  border-bottom: 2px solid #012641; /* Underline title for emphasis */
  padding-bottom: 10px; /* Add some space below title */
}

.table-container {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: auto;
  padding-right: 10px; /* Add padding for smoother scrolling */
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Add a soft shadow */
}

thead {
  background-color: #012641; /* Stronger orange for header */
  position: sticky;
  top: 0;
  z-index: 999;
}

thead th {
  color: white; /* Make the header text white for contrast */
  font-weight: bold;
  font-size: 18px; /* Larger font for headings */
  padding: 16px; /* Add more padding for spacious look */
  text-align: left;
  text-transform: uppercase; /* Capitalize headings */
  letter-spacing: 4px;
  border-bottom: 3px solid #012641; /* Border below headers */
}

tbody tr:nth-child(even) {
  background-color: white; /* Softer color for even rows */
}

tbody tr:nth-child(odd) {
  background-color: #eef5ff; /* Light yellow for odd rows */
}

tbody td {
  padding: 14px;
  color: #333;
  font-size: 20px;
  word-wrap: break-word;
}

tbody tr:hover {
  background-color: #60b3d1; /* Slightly darker color on hover */
  transition: background-color 0.3s ease;
}

table,
th,
td {
  border: 1px solid #ddd; /* Softer border for the table */
  text-align: left;
}

th,
td {
  font-size: 16px;
}
