.navbar {
  font-family: Arial, sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 15px;
  display: flex;
  width: 100vw; /* Full width */
  height: 80px;
  position: sticky;
}

.imageCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  float: left;
}

.list {
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
}

.navList {
  /* border: 2px solid black; */
  list-style-type: none;
  margin-top: 7px;
  margin-left: 1%;
  padding: 0;
  float: left;
  display: flex;
}

.navList li {
  margin: 0px 20px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  transition: 0.2s;
  flex-wrap: wrap-reverse;
}

.navList li a {
  color: black;
}

.navList li:hover {
  transform: scale(1.04);
}

.navbar .buttons {
  list-style-type: none;
  float: right;
  margin-top: -55px;
  display: flex;
}

.navbar .buttons li {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  flex-wrap: wrap-reverse;
}

.navbar .buttons li a {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar .buttons li:hover {
  transform: scale(1.1);
}

.signup {
  background-color: #223634;
  color: white;
}

.login {
  color: white;
  background-color: #223634;
}

@media (max-width: 850px) {
  .navList {
    display: none;
  }

  .navbar .buttons li {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 500px) {
  .navbar .buttons li {
    font-size: 12px;
    padding: 6px 12px;
  }
}
