.navbar {
  font-family: Arial, sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #012641;
  padding: 15px;
  box-shadow: 0px 2.5px 2px -2px gray;
  display: flex;
  width: 100vw; /* Full width */
  height: 65px;
  position: sticky;
}

.imageCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  float: left;
}

.logo {
  font-weight: bold;
  color: #00bcd4;
  float: left;
}

.navList {
  list-style-type: none;
  margin-left: 1%;
  padding: 0;
  display: flex;
  float: right;
}

.navList li {
  margin: 0 20px;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  float: right;
  transition: 0.2s;
}

.navList li a {
  color: white;
}

.navList li:hover {
  transform: scale(1.03);
}

.navbar .buttons {
  list-style-type: none;
  display: flex;
  float: right;
}

.navbar .buttons li {
  text-decoration: none;
  margin-left: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar .buttons li a{
  text-decoration: none;
  margin-left: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar .buttons li:hover {
  transform: scale(1.1);
}

.signup {
  background-color: #60b3d1;
  color: white;
}

.login {
  color: white;
  background-color: #60b3d1;
}

@media (max-width: 850px) {
  .navList {
    display: none;
  }

  .navbar .buttons li {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 500px) {
  .navbar .buttons li {
    font-size: 12px;
    padding: 6px 12px;
  }
}
