.detection {
  width: 100vw;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.detection h2 {
  color: #012641;
  margin-top: 20px;
  margin-bottom: 0px;
  cursor: pointer;
}
