* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Header styles */
header {
  padding: 0;
  margin-top: 0px;
  text-align: center;
  width: 100vw;
  height: 65px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
}

header div img {
  width: 120px;
  float: left;
}

header h1 {
  margin: 0;
  font-size: 30px;
}

header ul li {
  margin-top: 10px;
  float: right;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.2s ease;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  background-color: #60b3d1;
}

.detection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  height: auto;
}

.webcam-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

video {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

h2 {
  color: #333;
  text-align: center;
  font-size: 30px;
}

p {
  text-align: center;
  font-size: 18px;
}

.indicator {
  margin-top: 20px;
}

.alerts {
  margin-top: 20px;
  color: red;
}

li {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}
